.header {
  display:flex;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid #55555544;
  padding-bottom: 5px;
}
@media screen and (max-width: 700px) {
  .header {
    display:flex;
    flex-direction: column;
    width: 100vw;
    border-bottom: 1px solid #55555544;
    padding-bottom: 5px;
  }
}
